# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/

# Reports
reports/latest_scan.json
reports/history/

# Generated Reports
report_*.txt

# Streamlit
.streamlit/

# Environment Variables
.env

# VS Code
.vscode/

# Binaries & Large Setup Files
OllamaSetup.exe

# Database
*.db
cybersquad.db

# Log files
error.txt
report_*.txt
*.log

# Generated Reports & PDFs
*.pdf
reports/*.pdf